h1 {
    color:#c4f5d0;
    text-align: center;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-shadow: 2px 2px #016028;
    font-size: 52px;
}

body {
    background-image: url(../images/krabi.jpg);
    background-repeat: no-repeat;
}

.container {
    background-color:rgb(186, 243, 205, 0.9);
    padding: 50px;
    color: #016028;
    border: #016028 5px solid;
    box-shadow: 2px 2px 10px 2px #016028 inset;
}

#buttons {
    margin-left: 45%;
}

.btn-success {
    background-color:#016028;
    color: #cff6dd;   
}

.btn-success:hover {
    background-color: #cff6dd;
    box-shadow: 2px 2px 10px 2px #016028;
    border-radius: 5px;
    color: #016028;
}

#timeremaining {
    text-align: center;
    font-family: 'Playfair Display', serif;

}

#questionblock {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;   
}

#answerblock {
    text-align: center;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
    font-size: 22px;
}

.answerchoice:hover {
    background-color: #cff6dd;
    box-shadow: 2px 2px 10px 2px #016028;
    border-radius: 5px;
}

.answerchoice {
    width: 30%;
    margin: auto;
    transition: all 0.5s;
    padding: 15px 0;
}

.photo {
    box-shadow: 2px 2px 10px 2px #016028;
}